/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

@import "@ionic/angular/css/palettes/dark.always.css";
/* @import "@ionic/angular/css/palettes/dark.class.css"; */


/* Exemplo básico para blocos de código */
pre {
    background-color: #2d2d2d;
    color: #f8f8f2;
    padding: 1rem;
    border-radius: 8px;
    overflow-x: auto;
    font-family: monospace;
  }
  
  /* Código inline */
  code {
    background: #212121 !important;
    --background: #212121 !important;
    color: grey;
    padding: 8px 16px;
    border-radius: 4px;
    font-family: monospace;
  }
  
  /* Títulos */
  h1 { font-size: 2rem; font-weight: bold; margin-bottom: 1rem; }
  h2 { font-size: 1.75rem; font-weight: bold; margin-bottom: 0.75rem; }
  h3 { font-size: 1.5rem; font-weight: bold; margin-bottom: 0.5rem; }
  
  /* Negrito, itálico já vêm nativamente do HTML */
  strong { font-weight: bold; }
  em { font-style: italic; }
  
  /* Listas */
  ul {
    list-style-type: disc;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
  }
  ion-content {
    height: 100%;
    overflow-y: auto;
    --background: var(--ion-item-background)
  }