<ion-content #chatContainer [fullscreen]="false" class="chat-content" id="chatContainer">
  <!-- <img src="assets/logo.png" class="logo-home"> -->
  <!-- <div class="header">
    <ion-text class="ion-text-start">
      JoloChat
    </ion-text>
    <ion-button color="dark" class="clear" size="small" fill="clear" (click)="clearChat()">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </div> -->
  <ion-header class="header" [translucent]="true" color="transparent">
    <ion-toolbar color="transparent">
      <img class="logo-header" src="assets/logo.png">
      <!-- <ion-title class="ion-text-start">
        JoloChat
      </ion-title> -->
      <ion-buttons slot="end">
        <ion-button size="large" fill="clear" (click)="clearChat()">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <br><br><br>
  <ion-row>
    <ion-col [size]="width > 600 ? 2: 0"></ion-col>
    <ion-col #listaChat id="listaChat" class="lista-chat" [size]="width > 600 ? 8: 12">
        <ion-item *ngFor="let msg of messages" class="message-bubble" [class.user]="msg.sender === 'user'" [class.bot]="msg.sender === 'bot'" lines="none">
          <div class="message-content">
            <p [innerHTML]="msg.text | markdown | async"></p>
            <img *ngIf="msg.image" [src]="msg.image" alt="Imagem enviada" />
          </div>
        </ion-item>
    </ion-col>
    <ion-col [size]="width > 600 ? 2: 0"></ion-col>
  </ion-row>
  <br><br><br><br><br><br><br>
  <div id="loader" class="loader" *ngIf="loading"></div>
  <p class="copyright">powered by Jolo Systems</p>

  <div class="floating-input-container">
    <div class="model-select-container">
      <ion-select [disabled]="!models.length" (ionChange)="selectModel($event)" interface="popover" [placeholder]="modeloSelecionado">
        <ion-select-option *ngFor="let model of models" [value]="model">{{model}}</ion-select-option>
      </ion-select>
      <div *ngIf="previewImage" class="image-preview">
        <img [src]="previewImage" alt="Pré-visualização da imagem">
        <ion-fab-button class="remove-image-button" (click)="removeImage()">
          <ion-icon name="close-circle-outline"></ion-icon>
        </ion-fab-button>
      </div>
    </div>
    <ion-item color="transparent" lines="none" class="input-container-glass">
      <ion-textarea
        color="transparent"
        autoGrow="true"
        color="light"
        [(ngModel)]="messageInput"
        id="userInput"
        placeholder="Digite sua mensagem..."
        class="chat-input-glass"
        (keydown.enter)="sendMessage()"
      ></ion-textarea>
      <ion-buttons slot="end" class="buttons-container">
        <ion-button [disabled]="modeloSelecionado !== 'llava:7b'" fill="clear" color="dark" (click)="triggerImageUpload()">
          <ion-icon name="image-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <input (change)="onImageSelected($event)" type="file" accept="image/*" id="imagemUpload" style="display: none;">
        <ion-button [disabled]="!messageInput.length" fill="clear" (click)="sendMessage()" color="dark">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </div>
</ion-content>
