:host {
  --ion-background-color: #1e1e1e;
  --ion-text-color: #ffffff;
}

.chat-content {
  padding: 16px;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
}

.message-bubble {
  width: 90%;
  margin-bottom: 12px;
  padding: 3px 4px;
  border-radius: 16px;
  word-wrap: break-word;
  font-size: 15px;
  animation: fadeIn 0.2s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  overflow-x: auto;
  white-space: nowrap;
  gap: 12px;
  // --background: transparent !important;
  // background: transparent !important;
}

.message-bubble.user {
  align-self: flex-end;
  --background: #380b81;
  background: #380b81;
  color: #ffffff;
}

.message-bubble.bot {
  align-self: flex-start;
  --background: #2c2c2e;
  background: #2c2c2e;
  color: #f0f0f0;
  border: 1px solid #3c3c3e;
}

.message-content {
  white-space: pre-wrap;
}

.input-container {
  padding: 8px;
}

ion-input.chat-input {
  font-size: 16px;
}

ion-button {
}

.loader {
  margin: 16px auto;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-top: 3px solid #9b59b6;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
.lista-chat {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  
}

.copyright {
  position: fixed;
  font-size: 12px;
  bottom: 65px;
  width: 100%;
  text-align: center;
  color: #ffffff2b;
}
/* Exemplo básico para blocos de código */
pre {
  background-color: #2d2d2d;
  color: #f8f8f2;
  padding: 1rem;
  border-radius: 8px;
  overflow-x: auto;
  font-family: monospace;
}

/* Código inline */
code {
  background: #161616 !important;
  --background: #161616 !important;
  color: grey;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: monospace;
}

/* Títulos */
h1 { font-size: 2rem; font-weight: bold; margin-bottom: 1rem; }
h2 { font-size: 1.75rem; font-weight: bold; margin-bottom: 0.75rem; }
h3 { font-size: 1.5rem; font-weight: bold; margin-bottom: 0.5rem; }

/* Negrito, itálico já vêm nativamente do HTML */
strong { font-weight: bold; }
em { font-style: italic; }

/* Listas */
ul {
  list-style-type: disc;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}
ion-content {
  height: 100%;
  overflow-y: auto;
  --background: var(--ion-item-background)
}